@use "../abstracts" as *;

.cta {
  padding-block: 3.5rem;
  text-align: center;

  @include responsive(landscape-tablet) {
    padding-block: 2.5rem;
  }

  &__heading {
    margin-bottom: 3.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
