@use "../abstracts" as *;

.details {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;

  font-size: 1.4rem;

  background-color: $color-gray-light-1;
  border-bottom: 1px solid $color-gray-light-2;

  @include responsive(landscape-tablet) {
    padding: 3rem;
    gap: 3rem;
  }

  @include responsive(portrait-tablet) {
    flex-direction: column;
  }
}
